In [9]:
import pandas as pd
import numpy as np

In [10]:
data  = pd.read_csv("Bengaluru_House_Data.csv")

In [11]:
data.head(5)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [12]:
data.drop(columns=['area_type','availability','society'],inplace=True)

In [13]:
data.head(5)

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [14]:
data.dropna(inplace=True)

In [17]:
data.location.value_counts()

location
Whitefield            514
Sarjapur  Road        372
Electronic City       300
Kanakpura Road        261
Thanisandra           231
                     ...
Milk Colony             1
Sundara Nagar           1
Jaladarsini Layout      1
Madanayakahalli         1
Abshot Layout           1
Name: count, Length: 1265, dtype: int64

In [22]:
data['location'] = data['location'].apply(lambda x:x.strip())
data.location.value_counts()

location
Whitefield          515
Sarjapur  Road      372
Electronic City     302
Kanakpura Road      261
Thanisandra         234
                   ...
Shirdi Sai Nagar      1
S R Layout            1
Meenakshi Layout      1
Vidyapeeta            1
Abshot Layout         1
Name: count, Length: 1254, dtype: int64

In [23]:
location_stats = data.groupby('location')['location'].agg('count').sort_values(ascending=False)
location_less_than = location_stats[location_stats <=10]
location_less_than

location
1st Block Koramangala    10
Kalkere                  10
Basapura                 10
Kodigehalli              10
Gunjur Palya             10
                         ..
Kanakapura  Rod           1
Kanakapura Main Road      1
Kanakapura Road           1
Kanakapura Road,          1
whitefiled                1
Name: location, Length: 1017, dtype: int64

In [24]:
data['location'] = data['location'].apply(lambda x:'other' if  x in location_less_than else x)

In [25]:
data['location'].value_counts()

location
other                        2739
Whitefield                    515
Sarjapur  Road                372
Electronic City               302
Kanakpura Road                261
                             ...
Marsur                         11
LB Shastri Nagar               11
2nd Phase Judicial Layout      11
ISRO Layout                    11
Vishveshwarya Layout           11
Name: count, Length: 238, dtype: int64

In [26]:
data

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13314         Green Glen Layout      3 BHK       1715   3.0      3.0  112.00
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[12710 rows x 6 columns]

In [27]:
data['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [28]:
data['bedrooms'] = data['size'].apply(lambda x:int(x.split(' ')[0]))

In [29]:
data.head(10)

,location,size,total_sqft,bath,balcony,price,bedrooms
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
5,Whitefield,2 BHK,1170,2.0,1.0,38.00,2
8,Marathahalli,3 BHK,1310,3.0,1.0,63.25,3
10,Whitefield,3 BHK,1800,2.0,2.0,70.00,3
11,Whitefield,4 Bedroom,2785,5.0,3.0,295.00,4
12,7th Phase JP Nagar,2 BHK,1000,2.0,1.0,38.00,2

In [30]:
data.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [31]:
def clean(sqft):
    tokens = sqft.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    else:
        try:
            return folat(sqft)
        except:
            return None

In [32]:
data['total_sqft'] = data['total_sqft'].apply(clean)

In [33]:
data['total_sqft'].unique()

array([     nan, 2475.   , 5611.5  , 1073.5  , 1242.5  , 1277.5  ,
       1317.5  , 1132.5  , 4046.   , 1177.5  , 1122.5  ,  582.5  ,
       1142.5  ,  657.5  ,  649.5  , 1450.   , 1000.   ,  971.5  ,
        687.325,  615.   , 3430.   , 2038.5  , 3715.   , 4624.5  ,
        825.   , 1128.76 , 1104.   ,  790.5  , 3035.   , 2856.   ,
        700.   , 1559.   , 1352.5  , 1185.5  , 1005.   , 3181.   ,
       1192.5  , 2912.5  ,  630.5  ,  717.   , 1343.5  , 3416.5  ,
       1312.5  , 1137.5  ,  458.   ,  709.   ,  605.   , 2987.5  ,
       1089.   ,  680.   ,  412.5  ,  805.5  , 1617.5  , 1302.5  ,
        975.   , 2585.5  , 2648.   ,  614.5  , 2336.5  , 3317.5  ,
       1405.   , 1532.5  , 1115.   , 1580.   , 1272.5  ,  925.   ,
        698.5  , 1431.5  , 1029.5  ,  778.   , 1155.   , 1700.   ,
        784.   , 3385.5  ,  777.   , 2464.5  ,  640.   , 3854.5  ,
       4920.   ,  762.5  ,  693.   ,  728.5  ,  800.   ,  552.5  ,
        775.   , 1732.5  , 1131.   , 2835.   , 1260.   , 1081.5  ,
       2065.5  ,  583.   , 1237.5  ,  711.   ,  801.   , 2630.   ,
        863.   , 5020.   , 1315.   ,  612.5  ,  907.   , 2820.   ,
       1360.   ,  720.   , 1172.   ,  747.   , 1590.   , 1570.   ,
       1322.5  , 1003.5  , 2187.5  , 1639.5  ,  827.5  , 1355.   ,
       1195.   , 2500.   , 1187.   , 5667.5  , 1830.5  , 2858.   ,
        705.   , 1410.5  , 4225.   , 1533.   ,  955.   , 1335.   ,
       1258.5  ])

In [35]:
data.dropna(inplace=True)

In [36]:
data

                 location   size  total_sqft  bath  balcony    price  bedrooms
30              Yelahanka  4 BHK      2475.0   4.0      0.0  186.000         4
122                Hebbal  4 BHK      5611.5   4.0      0.0  477.000         4
137    8th Phase JP Nagar  2 BHK      1073.5   2.0      0.0   54.005         2
165              Sarjapur  2 BHK      1242.5   2.0      0.0   43.490         2
188              KR Puram  2 BHK      1277.5   2.0      0.0   56.800         2
...                   ...    ...         ...   ...      ...      ...       ...
12975          Whitefield  2 BHK       955.0   2.0      0.0   38.190         2
12990      Talaghattapura  3 BHK      2038.5   3.0      0.0  122.000         3
13059              Harlur  2 BHK      1335.0   2.0      0.0   72.760         2
13265               Hoodi  2 BHK      1258.5   2.0      0.0   59.135         2
13299          Whitefield  4 BHK      2856.0   5.0      0.0  154.500         4

[144 rows x 7 columns]

In [42]:
data['sqft_per_bed'] = data['total_sqft'] / data['bedrooms']

In [43]:
data.sqft_per_bed.describe()

count     144.000000
mean      659.354161
std       178.493024
min       343.662500
25%       546.000000
50%       638.750000
75%       722.031250
max      1416.875000
Name: sqft_per_bed, dtype: float64

In [44]:
data2 = data[data['sqft_per_bed']>= 300]

In [45]:
data2

,location,size,total_sqft,bath,balcony,price,bedrooms,sqft_per_bed
30,Yelahanka,4 BHK,2475.0,4.0,0.0,186.000,4,618.750
122,Hebbal,4 BHK,5611.5,4.0,0.0,477.000,4,1402.875
137,8th Phase JP Nagar,2 BHK,1073.5,2.0,0.0,54.005,2,536.750
165,Sarjapur,2 BHK,1242.5,2.0,0.0,43.490,2,621.250
188,KR Puram,2 BHK,1277.5,2.0,0.0,56.800,2,638.750
...,...,...,...,...,...,...,...,...
12975,Whitefield,2 BHK,955.0,2.0,0.0,38.190,2,477.500
12990,Talaghattapura,3 BHK,2038.5,3.0,0.0,122.000,3,679.500
13059,Harlur,2 BHK,1335.0,2.0,0.0,72.760,2,667.500
13265,Hoodi,2 BHK,1258.5,2.0,0.0,59.135,2,629.250
13299,Whitefield,4 BHK,2856.0,5.0,0.0,154.500,4,714.000

In [48]:
data2['price_per_sqft'] = round(data2['price']*100000/data2['total_sqft'],2)

In [50]:
data2.price_per_sqft.describe()

count      144.000000
mean      5034.493889
std       1453.939130
min       2399.750000
25%       4299.310000
50%       4845.010000
75%       5444.992500
max      10998.520000
Name: price_per_sqft, dtype: float64

In [51]:
data3 = data2[data2['price_per_sqft'] >= 2000]

In [53]:
data3.drop(columns=['size','sqft_per_bed','price_per_sqft'],axis=1,inplace=True)

In [54]:
data3

                 location  total_sqft  bath  balcony    price  bedrooms
30              Yelahanka      2475.0   4.0      0.0  186.000         4
122                Hebbal      5611.5   4.0      0.0  477.000         4
137    8th Phase JP Nagar      1073.5   2.0      0.0   54.005         2
165              Sarjapur      1242.5   2.0      0.0   43.490         2
188              KR Puram      1277.5   2.0      0.0   56.800         2
...                   ...         ...   ...      ...      ...       ...
12975          Whitefield       955.0   2.0      0.0   38.190         2
12990      Talaghattapura      2038.5   3.0      0.0  122.000         3
13059              Harlur      1335.0   2.0      0.0   72.760         2
13265               Hoodi      1258.5   2.0      0.0   59.135         2
13299          Whitefield      2856.0   5.0      0.0  154.500         4

[144 rows x 6 columns]

In [55]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [58]:
col_trans = make_column_transformer((OneHotEncoder(sparse_output=False),['location']),remainder='passthrough')

In [59]:
lr = LinearRegression()

In [60]:
scaler = StandardScaler()

In [61]:
model = make_pipeline(col_trans,scaler,lr)

In [62]:
data_input = data3.drop(columns=['price'])
data_output = data3['price']

In [63]:
x_train,x_test,y_train,y_test = train_test_split(data_input,data_output,test_size=0.2)

In [64]:
model.fit(x_train,y_train)

c:\Users\Bharath Kumar\anaconda3\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [70]:
input = pd.DataFrame([['Yelahanka',	2000.0,	3.0,2.0,3]],columns=['location','total_sqft','bath','balcony','bedrooms'])

In [71]:
model.predict(input)

array([120.51327204])

In [72]:
import pickle as pk

In [73]:
pk.dump(model,open('House_prediction_model.pkl','wb'))

In [74]:
data3.to_csv('Cleaned_data.csv')